<%= form_with(model: season, local: true) do |form| %>
  <% if season.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(season.errors.count, "error") %> prohibited this season from being saved:</h2>

      <ul>
      <% season.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2><%= h(season.year) %></h2>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.text_field :start_date, id: :start_date %>
  </div>

  <div class="field">
    <%= form.label :transplant_date %>
    <%= form.text_field :transplant_date, id: :transplant_date %>
  </div>

  <div class="field">
    <%= form.label :harvest_date %>
    <%= form.text_field :harvest_date, id: :harvest_date %>
  </div>

<% box_squares = Array.new() %>
<% Box.all.each do |box| %>
  <% box.squares.each do |square| %>
    <% box_squares << h("Box: #{box.label}, Square: #{square.row},#{square.column}") %>
  <% end %>
<% end %>

  <div class="field">
    Box Square:<br>
    <% select_squares = season.squares.map(&:id) unless (season.squares.nil?) %>
    <%= collection_select(:season, :square_id, Square.all, :id, :name, { :selected => select_squares }, { :multiple => true }) %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :notes %>
  </div>


  <%= form.hidden_field :crop_id %>
  <%= form.hidden_field :year %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
