<%= render :partial => 'shared/errors', :locals => { obj: @user } %>

<p><strong>Login Name</strong><br/>
<%= f.text_field :username %></p>

<p><strong>First Name</strong><br>
<%= f.text_field :first_name %></p>

<p><strong>Last Name</strong><br>
<%= f.text_field :last_name %></p>

<% if (@current_user && (@current_user.id == @user.id || @current_user.is_admin?)) %>
  <p><strong>Password</strong></br>
  <%= f.password_field :password %><br>
  <%= f.password_field :password_confirmation %>
  </p>
<% end %>
