<div id="box_label" style="text-align:center;width:<%= h("#{(box.cols * 55)}px") %>"><%= h(box.label) %></div>
<div class="box_layout" style="top:200px;width:<%= h("#{(box.cols * 55)}px") %>">
<% current_row = 1%>
<div class="box_row" style="float:left;height:54px">
<% box.squares.each do |square| %>
  <% if current_row != square.row %>
    <% current_row = square.row %>
    </div>
    <div class="box_row" style="float:left;top:<%= h("#{((square.row - 1) * 55) + 2}px") %>;left:0px;height:55px;">
  <% end %>
  <div class="box_square" style="float:left;top:<%= h("#{((square.row - 1) * 55) + 2}px") %>;width:50px;height:51px;background-color:#dddddd;border:2px solid #dddddd">
  <% if (square.seasons.empty?) %>
    &nbsp;
  <% else %>
    <% current_season = square.current_season %>
    <% next_season = square.next_planned_season %>
    <% if (current_season) %>
      <%= link_to( image_tag( current_season.crop.portrait.file.thumb.url ), current_season.crop ) %>
    <% elsif next_season %>
      <div style="font-size: 10px;">
      <%= link_to( next_season.crop.name, next_season.crop ) %>
      </div>
    <% end %>
  <% end %>
  </div> 
<% end %>
</div>

</div>
