<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @calendar.name %>
</p>

<p>
  <strong>City:</strong>
  <%= city_name(@calendar) %>
</p>

<p>
  <strong>Last frost:</strong>
  <%= @calendar.last_frost %>
</p>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
