<p>
<%= link_to(h(season.year), season) %><br>
Start date: <%= season.start_date %><br>
Transplant date: <%= season.transplant_date %><br>
Harvest date: <%= season.harvest_date %><br>
Box squares: <%= square_list(season) %>
</p>
<hr width="60%">
