<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @crop.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= calculate_start_date(@crop) %>
</p>

<p>
  <strong>Transplant:</strong>
  <%= @crop.transplant ? "Yes" : "No" %>
</p>

<p>
  <strong>Transplant date:</strong>
  <%= calculate_transplant_date(@crop) %>
</p>

<p>
  <strong>Expected Harvest Date:</strong>
  <%= calculate_harvest_date(@crop) %>
</p>

<p>
  <strong>Location:</strong>
  <%= location_link(@crop.location) %>
</p>

<%= link_to 'Edit', edit_crop_path(@crop) %> |
<%= link_to 'Back', crops_path %>
