<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Calendar:</strong>
  <%= @location.calendar %>
</p>

<p>
  <strong>Auto water:</strong>
  <%= @location.auto_water %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
