<% unless notice.blank? %>
  <p id="notice"><%= notice %></p>
<% end %>

<%= render :partial => 'shared/location_toolbar', :locals => {:location => @location, :mode => 'show'} %>

<div id="item_details">
<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Calendar:</strong>
  <%= calendar_link(@location.calendar) %>
</p>

<p>
  <strong>Auto water:</strong>
  <%= @location.auto_water %>
</p>
</div>
<div id="item_image">
<div id="portrait"><%= render :partial => "shared/item_image", :locals => {:obj => @location, :img => @location.portrait} %></div>
<div id="image_bucket"><%= render :partial => "shared/image_bucket", :locals => { :obj => @location, :images => @images } %></div>
</div>
<% unless (@location.boxes.empty?) %>
  <table>
  <tr>
  <% count = 0 %>
  <% row_width = 3 %>
  <% @location.boxes.each do |box| %>
    <% count += 1 %>
   <td<%= h(" align=right") if (count == row_width) %>>
    <%= render :partial => "boxes/box_layout", :locals => {:box => box} %></td>
    <% if (count >= row_width) %>
      <% count = 0 %>
      </tr><tr>
    <% elsif (box.cols > 3) %>
      <td>&nbsp;</td>
    <% end %>
  <% end %>
  </tr>
  </table>
<% end %>
